doctype html
head
	meta(name='viewport', content='width=device-width, initial-scale=1')
	link(href='/css/bootstrap.min.css', rel='stylesheet')
	link(href='/css/bootstrap-theme.css', rel='stylesheet')
	link(href='/css/index.css', rel='stylesheet')
	link(href='http://anijs.github.io/lib/anicollection/anicollection.css', rel='stylesheet')
	script(src='/socket.io/socket.io.js')
	script(src='/js/jquery.js')
	script(src='/js/bootstrap.min.js')
	script(src='/js/sticker.min.js')
	script(src='/js/bootbox.min.js')
	
	block additionalheadstuff
	
body
	block body